*{
	font-family: "Archivo", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-size: 100%;
}
h2{
	font-size: 1.1rem;
}
p{
	font-size: 0.9rem;
}
header{
	margin-top: 12vh;
	margin-left: 40vw; 
}
header>img{
	width: 40vw;
}

nav{
	position: fixed;
	top: 0;
	background-color: yellow;
	z-index: 1;
	padding: 2vh 0;
	width: 100vw;
	height: 10vh;
}
nav ul{
	height: 0vw;
	overflow: hidden;
}
nav ul li{
	background-color: yellow;
	border-style: solid;
	border-width: 1px;
}
nav a{
	color: black;
}
nav li li{
	padding-left: 2vw;
}
nav>.fas{
	font-size: 3.9vh;
	padding: 1.4vh;
	color: rgba(248,248,248,0.7);
	margin-left: 6vw;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(248,248,248,0.7);
}
ul{
	list-style-type: none;
}
.menu>ul{
	height: auto;
}
.inside ul{
	height: auto;
}
#frontImage>:not(.iButton){
	display: none;
}
#frontImage{
	width: 100vw;
	height: 34vh;
	margin: 0 auto 4vh;
	background-size: cover;
	background-image: url("images/instructeur.jpg");
}
.iButton{
	padding-top: 27vh;
	display: block;
	width: 33vw;
	margin: 0 auto;
}
.iButton button{
	width: 10vw;
	height: 1vh;
	background-color: rgba(197, 197, 197, 0.5);
}
.iButton button:nth-of-type(1){
	background-color: rgba(255, 255, 255, 0.5);
}
a{
	text-decoration: none;
}
section{
	margin-bottom: 9vh;
}

section>hr{
	border-color: rgba(255,255,255,0.7);
	margin-bottom: 5vw;
}
section>*{
	margin: 3vh 0;
}
section>:not(hr, a){
	padding: 0 12vw;
}
section>a{
	display: block;
	margin: 0 auto;
	color: black;
	padding: 2vh 0;
	font-size: 1.2rem;
	text-align: center;
	width: 76vw;
	background-color: yellow;
}
section>p>a{
	color: blue;
}
.titles *{
	display: inline;
}

iframe{
	width:76vw;
	padding: 0;
	margin: 0 auto;
	display: block;
}

footer{
	text-align: center;
	background-color: yellow;
}

#bovenBalk{
	display: none;
}
@media screen and (min-width: 992px){
	#container, #frontImage, footer{
		width: 90vw;
	}
	#container{
		position: relative;
		margin: 0 auto;
	}
	#frontImage{
		margin: 0 auto 4vh;
		height: 80vh;
	}
	#frontImage>:not(.iButton){
		display: block;
		text-align: center;
		background-color: yellow;
	}
	#frontImage>h2{
		position: relative;
		top: 55vh;
		font-size: 3rem;
		width: 20vw;
		margin: 0 auto;
	}
	#frontImage>p{
		font-size: 2rem;
		position: relative;
		top: 56vh;
		width: 35vw;
		margin: 0 auto;
	}

	.iButton{
		padding: 0;
		width: 12vw;
		position: relative;
		top: 56vh;
		margin: 0 auto;
	}
	.iButton button{
		width: 3vw;
		height: 1vh;
		background-color: rgba(197, 197, 197, 0.5);
	}	
	header{
		margin-top: 5vh;
		margin-left: 10vw; 
		display: inline-block;
	}
	header>img{
		width: auto;
		height: 12vh;
	}
	#bovenBalk{
		display: block;
		position: fixed;
		margin-left: 4.5vw;
		height: 5vh;
		width: 90vw;
		background-color: yellow;
		z-index: 2;
	}
	#bovenBalk>*{
		line-height: 5vh;
		vertical-align: middle;
	}
	.contact{
		margin-left: 35vw;
	}
	.contact>*{
		margin: 0 2vw;
	}
	.sContainer{
		display: grid;
		grid-template-columns: 21vw 21vw 21vw;
		grid-column-gap: 2vw; 
		grid-template-rows: auto;
		width: 69vw;
		margin: 0 auto;
	}
	section:nth-of-type(1){
		grid-column: 1/2;
		grid-row: 1/2;
	}
	section:nth-of-type(2){
		grid-column: 2/3;
		grid-row: 1/2;
	}
	section:nth-of-type(3){
		grid-column: 3/4;
		grid-row: 1/2;
	}
	hr, section>a{
		width: 22vw;
		display: block;
		margin: 0 auto;
	}
	section>:not(hr, a){
		padding: 0 1vw;
	}
	i{
		color: black;
	}
	nav{
		position: static;
		background-color: white;
		display: inline-block;
		height: 12vh;
		width: 60vw;
		margin-top: 5vh;
		margin-bottom: 0;
	}
	nav>.fas{
		display: none;
	}
	nav ul{
		height: auto;
		overflow: hidden;
		display: inline;
	}
	nav>ul>li{
		background-color: white;
		border-style: none;
		position: relative;
		display: inline;
		margin: 0 1vw;
	}
	nav>ul>li>ul{
		position: absolute;
		top: 1em;
		left: 0;
	}
	nav>ul>li>ul>li{
		background-color: white;
		display: none;
		border-style: none;
	}
	nav>ul>li:hover>ul>li{
		display: block;
	}
	iframe{
		height: 80vh;
		width: 69vw;
		display: block;
		margin: 0 auto;
	}
}